@tailwind base;
@tailwind components;
@tailwind utilities;


nav > a.active{
 @apply bg-gray-900 border border-white/30 rounded-xl px-3 py-1 max-sm:py-2 focus:outline-none 
}

/* Butun sahifa uchun scrollni o‘zgartirish */
::-webkit-scrollbar {
  width: 2px; /* Scroll yo‘li kengligi */
}

::-webkit-scrollbar-thumb {
  background-color: #fff; /* Scrollning harakatlanadigan qismi */
  border-radius: 10px; /* Burchaklarni yumaloqlash */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff; /* Hover holatida rang */
}

::-webkit-scrollbar-track {
  background: #111828; /* Orqa fon */
}

/* Chrome, Edge, Safari */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type="search"]::-moz-search-clear {
  display: none;
}
